$material-dark: (
  'app-bar': #212121,
  'bottom-navigation': #424242,
  'background': #303030,
  'cards': #424242,
  'navigation-drawer': #424242,
  'toolbar': #212121
);

$material-light: ('background': #FAFAFA);
