$vb-primary = #4CAF50
$vb-primary-list-hover = rgba(76, 175, 80, .03)
$vb-primary-list-active = rgba(76, 175, 80, .3)

// Scrollbar
$vb-scrollbar-thumb = #454545
$vb-scrollbar-thumb-hover = #505050
$vb-scrollbar-thumb-active = #606060

// Data source tree
$vb-data-source-tree-prop = $vb-primary
$vb-data-source-tree-numbool = #2196f3
$vb-data-source-tree-string = #ff5252
$vb-data-source-tree-object = #9a9a9a

// Application
$vb-application = #1f1f1f

// Drawer & context
$vb-drawer-mini = #3c3c3c
$vb-drawer-icon = rgba(255, 255, 255, .5)
$vb-drawer-icon-hoveractive = #FFF

$vb-drawer-ctx = #272727

// App context toolbar
$vb-app-ctx-toolbar = $vb-drawer-ctx

// Gutter background
$vb-gutter = rgba(0, 0, 0, .1)
