$vb-primary = #4CAF50
$vb-primary-list-hover = rgba(76, 175, 80, .13)
$vb-primary-list-active = rgba(76, 175, 80, .3)

// Data source tree
$vb-data-source-tree-prop = $vb-primary
$vb-data-source-tree-numbool = #2196f3
$vb-data-source-tree-string = #ff5252
$vb-data-source-tree-object = #9a9a9a

// Application
$vb-application = #303030

// Drawer & context
$vb-drawer-mini = $vb-application
$vb-drawer-icon = rgba(255, 255, 255, .5)
$vb-drawer-icon-hoveractive = #FFF

$vb-drawer-ctx = #272727
$vb-drawer-ctx-border = #0c0f0f

// App context toolbar
$vb-app-ctx-toolbar = #212121
$vb-app-ctx-toolbar-border = $vb-drawer-ctx-border
