@import './colors'

::-webkit-scrollbar
  width: 15px

::-webkit-scrollbar-button
  display none

::-webkit-scrollbar-thumb
  background-color $vb-scrollbar-thumb

  &:hover
    background-color $vb-scrollbar-thumb-hover
  
  &:active
    background-color $vb-scrollbar-thumb-active

::-webkit-scrollbar-track
  background-color $vb-scrollbar-background

html
  overflow auto !important

a
  text-decoration none

input:-webkit-autofill
  -webkit-box-shadow: 0 0 0 30px #424242 inset

input:-webkit-autofill
  -webkit-text-fill-color: white !important

.application
  background-color $vb-application !important

.no-transition
  -webkit-transition: none !important
  transition: none !important

.index-icon
  position absolute
  top 0
  right 0
  font-size 400px
  line-height 250px
  color rgba(255, 255, 255, .025) !important

.markdown
  hr
    margin-bottom 16px
    border-color hsla(0, 0%, 100%, .12) !important
    height 0
    max-height 0
    border solid
    border-width thin 0 0
  h1, h2, h3, h4, h5, h6
    margin-bottom 16px
    font-weight 400
  ul, ol
    margin-bottom 16px
  code, kbd
    padding 1px 5px
    background $vb-drawer-ctx
    color $vb-primary
    font-weight unset
    box-shadow none
    -webkit-box-shadow none

    &:after, &:before
      content unset
      letter-spacing unset
  pre code
    width 100%
    padding 16px
    margin-bottom 16px
  img
    max-width 100%

.vc-chrome
  width unset !important
  font-family inherit !important
  border-radius 0 0 8px 8px !important

  .vc-chrome-body
    border-radius 0 0 4px 4px
    background-color #424242

    .vc-chrome-fields
      .vc-input__input, .vc-input__label
        color #FFF !important

    .vc-checkerboard
      background-repeat repeat

    .vc-chrome-toggle-icon
        path
          fill #FFF

    .vc-chrome-toggle-icon-highlight
        background #424242

.hover-actions
  .v-list__tile
    &:hover
      .v-list__tile__action
        display flex

    .hover-actions-always
      display flex !important

    .v-list__tile__action
      display none

#data-source-tree
  .v-treeview-node__root
    cursor pointer

  span
    &.property
      color $vb-data-source-tree-prop
    &.number, &.boolean
      color $vb-data-source-tree-numbool
    &.string
      color $vb-data-source-tree-string
    &.object
      color $vb-data-source-tree-object
    &.hidden
      pointer-events none
