html
  overflow-y auto !important

a
  text-decoration none

input:-webkit-autofill
  -webkit-box-shadow: 0 0 0 30px #424242 inset

input:-webkit-autofill
  -webkit-text-fill-color: white !important

.index-icon
  position absolute
  top 0
  right 0
  font-size 400px
  line-height 250px
  color rgba(255, 255, 255, .05) !important // rgba(76, 175, 80, .05) !important

.markdown
  h1, h2
    margin-bottom 16px
    padding 8px 0
  code
    background #242424
    color #4caf50
    border-radius 0
  pre code
    width 100%
    padding 16px
    margin-bottom 16px
  img
    max-width 100%

.vc-chrome
  width unset !important
  font-family inherit !important

  .vc-chrome-body
    background-color #424242

    .vc-checkerboard
      background-repeat repeat

    .vc-chrome-fields
      .vc-input__input, .vc-input__label
        color #FFF !important

    .vc-chrome-toggle-icon
      path
        fill #FFF

    .vc-chrome-toggle-icon-highlight
      background #272727
