html
  overflow-y auto !important

a
  text-decoration none

input:-webkit-autofill
  -webkit-box-shadow: 0 0 0 30px #424242 inset

input:-webkit-autofill
  -webkit-text-fill-color: white !important

.index-icon
  position absolute
  top 0
  right 0
  font-size 400px
  line-height 250px
  color rgba(255, 255, 255, .05) !important // rgba(76, 175, 80, .05) !important

.markdown
  pre code
    width 100%
